<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="about.css" />
  </head>
  <body>
    <div class="container">
      <div class="maintext">
        <h1>About</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde delectus
          molestias modi sequi ducimus! Voluptatem ut, doloremque quasi at,
          atque labore officiis asperiores voluptates molestiae commodi ducimus
          omnis velit reprehenderit. Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Neque eum ut maxime adipisci est officia sed,
          corporis unde ipsum illo architecto? Illum, beatae saepe iste aperiam
          qui voluptas minima? Ipsum. Lorem ipsum dolor sit, amet consectetur
          adipisicing elit. Modi voluptatum in ducimus error vel, voluptates
          corporis iste totam aspernatur. Corrupti ut amet laborum accusamus
          voluptatibus temporibus tempore cum eos? Sequi. Lorem, ipsum dolor sit
          amet consectetur adipisicing elit. Voluptates nostrum vitae magnam sed
          recusandae, sint vel unde culpa voluptate voluptatem alias perferendis
          possimus velit! Laboriosam dolorem distinctio quos nam id? Lorem ipsum
          dolor sit amet consectetur adipisicing elit. Officiis error nostrum
          eos consequatur itaque tempora dolor voluptates quisquam in aperiam,
          nemo alias aut quasi, laudantium possimus saepe et distinctio libero?
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Velit unde
          cupiditate possimus accusantium eum perferendis rem, consequatur
          placeat obcaecati debitis tempore commodi fugiat nesciunt tenetur
          nostrum. Cumque, deserunt odit. Laudantium. Lorem ipsum, dolor sit
          amet consectetur adipisicing elit. Perspiciatis vero voluptatum fuga,
          explicabo voluptates sequi, ipsum esse dolorum voluptate iusto, facere
          eligendi exercitationem. Facilis itaque omnis odit possimus minima
          placeat. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          Dolore esse numquam a corporis perspiciatis sunt ex illum saepe, odit,
          explicabo fuga totam delectus dignissimos tempora fugit ut. Maxime,
          perferendis molestiae. Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Aspernatur accusantium nisi facilis odit, optio ex
          ad nobis rem fuga asperiores dolorem molestias soluta illo! Culpa
          expedita veniam nisi hic atque! Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Asperiores, nemo dolore sint ut exercitationem,
          quaerat, labore voluptatem tempore error dignissimos saepe possimus
          voluptas odio qui minus itaque quam quisquam aspernatur? Lorem ipsum
          dolor sit amet consectetur, adipisicing elit. Omnis dolores quasi quas
          fuga, aperiam, eius tempora libero inventore doloribus incidunt fugit
          dolorum alias quibusdam corrupti neque autem commodi praesentium
          consectetur! Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Exercitationem voluptatibus aliquid, iste totam inventore placeat,
          commodi officiis numquam deleniti quasi nobis. Quo dolores voluptatem
          vel autem, minima quaerat ad ullam.
        </p>
      </div>
      <div class="subfooter">
        <h3>OUR CONTACTS</h3>
        <div>
          <div className="mt-5">
            <span className="text-gray-600 font-bold font-medium">
              Address:
            </span>
            <ul>
              <li className="text-gray-500">
                3, Ajanaku street, off tower palace
              </li>
            </ul>
          </div>
          <div className="mt-5">
            <span> phone numbers: </span>
            <ul className="text-gray-500 mt-2">
              <li>+234-708745324</li>
              <li>+234-708745324</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer">
        <img
          src="https://upload.wikimedia.org/wikipedia/en/thumb/0/04/Facebook_f_logo_%282021%29.svg/512px-Facebook_f_logo_%282021%29.svg.png?20210818083032"
        />
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4f/Twitter-logo.svg/512px-Twitter-logo.svg.png?20220821125553"
        />
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Instagram_logo_2016.svg/132px-Instagram_logo_2016.svg.png?20210403190622"
        />
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/ca/LinkedIn_logo_initials.png/600px-LinkedIn_logo_initials.png?20140125013055"
        />
      </div>
    </div>
  </body>
</html>
