<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="readmore.css" />
  </head>
  <body>
    <div class="container">
      <div class="left">
        <div class="topheading">
          <h1>Title here</h1>
          <div class="topheadingRight">
            <div class="avatar">
              <img
                src="https://img.freepik.com/free-photo/elegant-bare-young-african-american-female-studio_23-2148183336.jpg?w=740&t=st=1679587761~exp=1679588361~hmac=772a31a29ef38f033efdccebf481969969e8f30377a5c00b4503fd208434c875"
                style="width: 100%; object-fit: cover; height: 100%"
              />
            </div>
            <div>
              <h3>Ajayi michael</h3>
              <p>authour</p>
            </div>
          </div>
        </div>
        <div class="imageWrapper">
          <img
            src="https://img.freepik.com/premium-photo/3d-muslim-man-boy-decorated-crescent-moon-with-lighting-garland-lit-lanterns-gift-boxes-copy-space-brown-background-islamic-festival-concept_1302-32898.jpg?w=826"
          />
        </div>

        <div>
          <p class="text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, quis
            vitae iure animi sed, assumenda expedita accusantium inventore, et
            mollitia necessitatibus culpa numquam distinctio totam. Praesentium
            quibusdam nemo a voluptatibus. Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Deleniti assumenda impedit... quia
            tempore laborum nulla nam sunt sequi quasi voluptate sapiente
            placeat vel dignissimos, nostrum, magni quis quod ducimus eaque.
            Lorem ipsum dolor

            <!-- <video src="" controls></video> -->

            sit amet consectetur adipisicing elit. Natus voluptatem dolore
            sapiente porro esse. Illum quisquam, libero ipsam saepe molestias
            consequatur aut mollitia, quis at voluptate commodi iste sint
            beatae. Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Eligendi laborum nostrum delectus qui et, culpa temporibus, adipisci
            sequi nesciunt consequatur iste laboriosam totam, impedit commodi
            autem quia itaque nisi fugit! lorem Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Nulla, quis vitae iure animi sed,
            assumenda expedita accusantium inventore, et mollitia necessitatibus
            culpa numquam distinctio totam. Praesentium quibusdam nemo a
            voluptatibus. Lorem ipsum dolor sit amet consectetur adipisicing
            elit. Deleniti assumenda impedit quia tempore laborum nulla nam sunt
            sequi quasi voluptate sapiente placeat vel dignissimos, nostrum,
            magni quis quod ducimus eaque. Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Natus voluptatem dolore sapiente porro
            esse. Illum quisquam, libero ipsam saepe molestias consequatur aut
            mollitia, quis at voluptate commodi iste sint beatae. Lorem ipsum
            dolor sit, amet consectetur adipisicing elit. Eligendi laborum
            nostrum delectus qui et, culpa temporibus, adipisci sequi nesciunt
            consequatur iste laboriosam totam, impedit commodi autem quia itaque
            nisi fugit! lorem Lorem ipsum dolor sit amet consectetur adipisicing
            elit. Nulla, quis vitae iure animi sed, assumenda expedita
            accusantium inventore, et mollitia necessitatibus culpa numquam
            distinctio totam. Praesentium quibusdam nemo a voluptatibus. Lorem
            ipsum dolor sit amet consectetur adipisicing elit. Deleniti
            assumenda impedit quia tempore laborum nulla nam sunt sequi quasi
            voluptate sapiente placeat vel dignissimos, nostrum, magni quis quod
            ducimus eaque. Lorem ipsum dolor sit amet consectetur adipisicing
            elit. Natus voluptatem dolore sapiente porro esse. Illum quisquam,
            libero ipsam saepe molestias consequatur aut mollitia, quis at
            voluptate commodi iste sint beatae. Lorem ipsum dolor sit, amet
            consectetur adipisicing elit. Eligendi laborum nostrum delectus qui
            et, culpa temporibus, adipisci sequi nesciunt consequatur iste
            laboriosam totam, impedit commodi autem quia itaque nisi fugit!
            lorem Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Nulla, quis vitae iure animi sed, assumenda expedita accusantium
            inventore, et mollitia necessitatibus culpa numquam distinctio
            totam. Praesentium quibusdam nemo a voluptatibus. Lorem ipsum dolor
            sit amet consectetur adipisicing elit. Deleniti assumenda impedit
            quia tempore laborum nulla nam sunt sequi quasi voluptate sapiente
            placeat vel dignissimos, nostrum, magni quis quod ducimus eaque.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus
            voluptatem dolore sapiente porro esse. Illum quisquam, libero ipsam
            saepe molestias consequatur aut mollitia, quis at voluptate commodi
            iste sint beatae. Lorem ipsum dolor sit, amet consectetur
            adipisicing elit. Eligendi laborum nostrum delectus qui et, culpa
            temporibus, adipisci sequi nesciunt consequatur iste laboriosam
            totam, impedit commodi autem quia itaque nisi fugit! lorem
          </p>
          <div class="iconWrapper">
            <div class="icon">
              <i class="fa-solid fa-comment-dots" style="color: #00b3ff"></i>
              <p style="font-size: smaller">200</p>
            </div>

            <div class="icon">
              <i class="fa-solid fa-heart" style="color: #00b3ff"></i>
              <p style="font-size: smaller">2k</p>
            </div>
            <div class="icon">
              <i class="fa-solid fa-share" style="color: #00b3ff"></i>
              <p style="font-size: smaller">10.6k</p>
            </div>
          </div>

          <div style="margin-top: 50px">
            <h3>Leave a comment</h3>
            <div class="commentWrapper">
              <input
                type="text"
                placeholder="Comment here..."
                class="commentInput"
              />
              <button>Send</button>
            </div>
          </div>
        </div>
      </div>
      <div class="right">
        <h1>Related post</h1>
        <hr />
        <div class="relatedItem">
          <div class="image">
            <img src="../static//images/pexels-gökhan-yetimova-15326426.jpg" />
          </div>
          <div>
            <h3>Post title here</h3>
            <p>lorem ipdum dolor amet total impedit...</p>
          </div>
        </div>

        <div class="relatedItem">
          <div class="image">
            <img
              src="../static//images/pexels-esranur-kalay-13169922_guFgbAe.jpg"
            />
          </div>
          <div>
            <h3>Post title here</h3>
            <p>lorem ipdum dolor amet total impedit...</p>
          </div>
        </div>

        <div class="relatedItem">
          <div class="image">
            <img
              src="../static//images/pexels-isra-nilgün-özkan-14236713.jpg"
            />
          </div>
          <div>
            <h3>Post title here</h3>
            <p>lorem ipdum dolor amet total impedit...</p>
          </div>
        </div>

        <div class="relatedItem">
          <div class="image">
            <img src="../static//images/pexels-mesut-çiçen-11201518.jpg" />
          </div>
          <div>
            <h3>Post title here</h3>
            <p>lorem ipdum dolor amet total impedit...</p>
          </div>
        </div>

        <div class="relatedItem">
          <div class="image">
            <img src="../static//images/pexels-hatice-baran-14589752.jpg" />
          </div>
          <div>
            <h3>Post title here</h3>
            <p>lorem ipdum dolor amet total impedit...</p>
          </div>
        </div>

        <div class="relatedItem">
          <div class="image">
            <img src="../static//images/pexels-merve-15433700.jpg" />
          </div>
          <div>
            <h3>Post title here</h3>
            <p>lorem ipdum dolor amet total impedit...</p>
          </div>
        </div>

        <div class="relatedItem">
          <div class="image">
            <img src="../static//images/pexels-hatice-baran-14783582.jpg" />
          </div>
          <div>
            <h3>Post title here</h3>
            <p>lorem ipdum dolor amet total impedit...</p>
          </div>
        </div>
      </div>
    </div>
    <script
      src="https://kit.fontawesome.com/4092cd7454.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
